.app {
  background-color: #fafafa;
  /* display: grid;
  place-items: center;
  overflow: hidden; */
}
.app__header {
  position: sticky;
  top: 0;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
.app__headerImage {
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 30px;
  background-color: aqua;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  padding-top: 30px;
}
.app__footer {
  position: sticky;
  bottom: 0;
  object-fit: contain;
  background-color: white;
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle_button {
  background-color: #0984e3 !important;
  color: white !important;
  width: 85% !important;
}
