.imageupload-desktop {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imageupload__progress {
  width: 100%;
  margin-bottom: 10px;
}
.input_caption {
  height: 35px;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.upload_button-desktop {
  margin-top: 30px !important;
}

.imageupload-mobile {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 0;
  transition: all 2s;
}
.upload_button-mobile {
  margin-top: 10px !important;
  color: white !important;
  background-color: #00b894 !important;
}
